﻿@model AdventureWorks2008R2Demo.DAL.ProductSubcategory
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Add New ProductSubcategory</h3>
</div>


 @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="modal-body">

            <div class="form-horizontal">
               				 <div class="form-group">
				 				   @Html.LabelFor(model => model.ProductCategoryID, "ProductCategoryID", new { @class = "control-label col-md-3" })
								  <div class="col-sm-9">
									@Html.DropDownList("ProductCategoryID", String.Empty)
								    @Html.ValidationMessageFor(model => model.ProductCategoryID)
				  </div>

            </div>
							 <div class="form-group">
				 				   @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
								  <div class="col-sm-9">
									@Html.EditorFor(model => model.Name)
								    @Html.ValidationMessageFor(model => model.Name)
				  </div>

            </div>
							 <div class="form-group">
				 				   @Html.LabelFor(model => model.rowguid, new { @class = "control-label col-md-3" })
								  <div class="col-sm-9">
									@Html.EditorFor(model => model.rowguid)
								    @Html.ValidationMessageFor(model => model.rowguid)
				  </div>

            </div>
							 <div class="form-group">
				 				   @Html.LabelFor(model => model.ModifiedDate, new { @class = "control-label col-md-3" })
								  <div class="col-sm-9">
									@Html.EditorFor(model => model.ModifiedDate)
								    @Html.ValidationMessageFor(model => model.ModifiedDate)
				  </div>

            </div>
			        </div>

        <div class="modal-footer">
            <span id="progress" class="text-center" style="display: none;">
                <img src="/images/wait.gif" alt="wiat" />
                Wait..
            </span>

            <input class="btn btn-primary" type="submit" value="Save" />
            <button class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
	</div>
    }
	
<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>
