﻿@model AdventureWorks2008R2Demo.DAL.ProductSubcategory

 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">ProductSubcategory Detail</h3>
    </div>

    <div class="modal-body">

        <div class="form-horizontal">
            						 @Html.HiddenFor(model => model.ProductSubcategoryID)
									 <div class="form-group">
				 				   @Html.LabelFor(model => model.ProductCategoryID, "ProductCategoryID", new { @class = "control-label col-md-3" })
								<div class="col-sm-9">
									@Html.DropDownList("ProductCategoryID", String.Empty)
				                </div>
			 </div>
								 <div class="form-group">
				 				   @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
								<div class="col-sm-9">
									@Html.TextBoxFor(model => model.Name, new { @class = "form-control required", @disabled = "disabled"})
				                </div>
			 </div>
								 <div class="form-group">
				 				   @Html.LabelFor(model => model.rowguid, new { @class = "control-label col-md-3" })
								<div class="col-sm-9">
									@Html.TextBoxFor(model => model.rowguid, new { @class = "form-control required", @disabled = "disabled"})
				                </div>
			 </div>
								 <div class="form-group">
				 				   @Html.LabelFor(model => model.ModifiedDate, new { @class = "control-label col-md-3" })
								<div class="col-sm-9">
									@Html.TextBoxFor(model => model.ModifiedDate, new { @class = "form-control required", @disabled = "disabled"})
				                </div>
			 </div>
				      </div>

    <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
</div>
