﻿@model AdventureWorks2008R2Demo.DAL.ProductCategory
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Delete ProductCategory</h3>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">

            <div class="form-horizontal">
										 @Html.HiddenFor(model => model.ProductCategoryID)
									 <div class="form-group">
				 				   @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
								  <div class="col-sm-9">
									@Html.TextBoxFor(model => model.Name)
					
								     <div>
                            @Html.ValidationMessageFor(m => m.Name)
                     </div>
				  </div>
               </div>
							 <div class="form-group">
				 				   @Html.LabelFor(model => model.rowguid, new { @class = "control-label col-md-3" })
								  <div class="col-sm-9">
									@Html.TextBoxFor(model => model.rowguid)
					
								     <div>
                            @Html.ValidationMessageFor(m => m.rowguid)
                     </div>
				  </div>
               </div>
							 <div class="form-group">
				 				   @Html.LabelFor(model => model.ModifiedDate, new { @class = "control-label col-md-3" })
								  <div class="col-sm-9">
									@Html.TextBoxFor(model => model.ModifiedDate)
					
								     <div>
                            @Html.ValidationMessageFor(m => m.ModifiedDate)
                     </div>
				  </div>
               </div>
			
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <h3>
                            <span class="label label-danger">Are you sure to delete this ProductCategory?
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">No</button>
            <input class="btn btn-danger" type="submit" value="Yes" />
        </div>
    }

