﻿    @modelMvcBootstrapCrud.DAL.Phone

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Phone Detail</h3>
    </div>

    <div class="modal-body">

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => Model.Model, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Model, new { @class = "form-control required", @disabled = "disabled"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Company, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Company, new { @class = "form-control required", @disabled = "disabled"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => Model.Price, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control required" , @disabled = "disabled"})
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
