﻿@model WebApplication1.Models.PagedList<WebApplication1.Models.Phone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
</p>
<div class="well">
 @using (Html.BeginForm("index", null, FormMethod.Get))
{
  <div class="row">
    <div class="col-sm-8">
                <div class="input-group">
                     <input type="text"
                                name="filter"
                                value="@ViewBag.filter"
                                class="form-control"
                                style="display: inline"
                                placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go</button>
                            </span>
                 </div>
    </div>
    <div class="pull-right col-lg-1"> 
        <a class="btn btn-success" data-modal="" href="/Phone/Create" id="btnCreate">
                     <span class="glyphicon glyphicon-plus"></span>      
        </a>
    </div>
</div>
 <div style="margin-top:17px;">
  @{
            var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: true,
                        ajaxUpdateContainerId: "grid");

            grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);
        
            @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
                                                    
                        grid.Column("PhoneId", "PhoneId", style: "col-lg-4"),
                                                    
                        grid.Column("Model", "Model", style: "col-lg-4"),
                                                    
                        grid.Column("Company", "Company", style: "col-lg-4"),
                                                    
                        grid.Column("Price", "Price", style: "col-lg-4"),
                                grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
                   @Html.Raw("<a data-modal='' href='/Phone/details/" + item.PhoneId + "' id='" + item.PhoneId + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")
                   @Html.Raw("<a data-modal='' href='/Phone/edit/" + item.PhoneId + "' id='" + item.PhoneId + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                   @Html.Raw("<a data-modal='' href='/Phone/delete/" + item.PhoneId + "' id='" + item.PhoneId + "' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")
                </text>)
            ));
            }
</div>
}
</div>
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/scripts/appjs/Phones.js")
}


